@model IEnumerable<araniyor.Models.Puanlar>

@{
    ViewBag.Title = "ListPuan";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

<h2>Puan Listesi</h2>
<hr />
<p>
    @Html.ActionLink("Puan Oluştur", "CreatePuan", null, new { @class = "btn btn-primary btn" })
</p>
<div class="panel panel-primary filterable" style="overflow-x: auto;">

    <table class="table table-bordered table-striped">
        <div class="panel-heading">
            <thead>
                <tr class="filters">
                    <th style="width:auto"><input type="text" class="form-control" placeholder="Puan Veren"></th>
                    <th style="width:auto"><input type="text" class="form-control" placeholder="Puan Verilen"></th>
                    <th style="width:auto"><input type="text" class="form-control" placeholder="Puan"></th>
                    <th style="width:auto"><input type="text" class="form-control" placeholder="Tarih"></th>
                    <th style="width:auto"></th>
                </tr>
            </thead>
        </div>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.puanVeren)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.puanVerilen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Puan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tarih)
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "EditPuan", new { id = item.ID }, new { @class = "btn btn-warning btn-sm" })
                    @Html.ActionLink("Detay", "DetailsPuan", new { id = item.ID }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Sil", "DeletePuan", new { id = item.ID }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }

    </table>
