@model IEnumerable<araniyor.Models.Users>

@{
    ViewBag.Title = "ListUser";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

<h2>Kullanıcı Listesi</h2>
<hr />
<p>
    @Html.ActionLink("Kullanıcı Oluştur", "CreateUser", null, new { @class = "btn btn-primary btn" })
</p>
<div class="panel panel-primary filterable" style="overflow-x: auto;">

    <table class="table table-bordered table-striped">
        <div class="panel-heading">
            <thead>
                <tr class="filters">
                    <th style="width:auto"><input type="text" class="form-control" placeholder="Kullanıcı ID"></th>
                    <th style="width:auto"><input type="text" class="form-control" placeholder="Kategori"></th>
                    <th style="width:auto"><input type="text" class="form-control" placeholder="Alt Kategori"></th>
                    <th style="width:auto"><input type="text" class="form-control" placeholder="Kullanıcı Adı"></th>
                    <th style="width:auto"><input type="text" class="form-control" placeholder="E-Posta"></th>
                    <th style="width:auto"><input type="text" class="form-control" placeholder="İsim"></th>
                    <th style="width:auto"></th>
                </tr>
            </thead>
        </div>
        @foreach (var item in Model)
        {
            <tr>
                <td style="vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.userID)
                </td>
                <td style="vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.businessCategory.businessCategory1)
                </td>
                <td style="vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.businessSubategory.businessSubategory1)
                </td>
                <td style="vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.username)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.password)
                    </td>*@
                <td style="vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.eMail)
                </td>
                <td style="vertical-align: middle;">
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                @* <td style="vertical-align: middle;">
                        @Html.DisplayFor(modelItem => item.surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.steward)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.picture)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.city)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.district)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.birthday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.votingNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.totalScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.score)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.numberOfComments)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.numberOfViews)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.experience)
                    </td>*@
                <td>
                    @Html.ActionLink("Düzenle", "EditUser", new { id = item.userID }, new { @class = "btn btn-warning btn-sm", Style = "width:70px" })
                    <br />
                    @Html.ActionLink("Detay", "DetailsUser", new { id = item.userID }, new { @class = "btn btn-primary btn-sm", Style = "width:70px" })
                    <br />
                    @Html.ActionLink("Sil", "DeleteUser", new { id = item.userID }, new { @class = "btn btn-danger btn-sm", Style = "width:70px" })
                </td>
            </tr>
        }

    </table>
