@model araniyor.Models.Puanlar

@{
    ViewBag.Title = "EditPuan";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

<div class="container pb-5">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Düzenle</h4>
            <hr />
            @if (TempData["mesaj"] != null)
            {
                <div class="alert alert-warning">
                    <span class="glyphicon glyphicon-search"></span>
                    @TempData["mesaj"].ToString()
                </div>
            }
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <div class="form-group">
                @Html.LabelFor(model => model.puanVeren, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.puanVeren, (IEnumerable<SelectListItem>)ViewBag.Users, new { @class = "form-control", disabled = "disabled" })
                    @Html.HiddenFor(x => x.puanVeren)
                    @Html.ValidationMessageFor(model => model.puanVeren, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.puanVerilen, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.puanVerilen, (IEnumerable<SelectListItem>)ViewBag.Users, new { @class = "form-control", disabled = "disabled" })
                    @Html.HiddenFor(x => x.puanVerilen)
                    @Html.ValidationMessageFor(model => model.puanVerilen, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Tarih, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tarih, new { htmlAttributes = new { @class = "datepicker" } })
                    @Html.ValidationMessageFor(model => model.Tarih, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Puan, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Puan, new { htmlAttributes = new { @class = "form-control", @min = "0", @max = "5" } })
                    @Html.ValidationMessageFor(model => model.Puan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Kaydet" class="btn btn-success" />
                    @Html.ActionLink("Geri Dön", "ListPuan", null, new { @class = "btn btn-warning" })
                </div>
            </div>
        </div>
    }
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
