@model araniyor.Models.Yorumlar

@{
    ViewBag.Title = "DeleteYorum";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

<div class="container pb-5">
    <h3 style="color:red">Yorumu silmek istediğine emin misin?</h3>
    <hr />
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.yorumYapan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.yorumYapan)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.yorumYapilan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.yorumYapilan)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.yorumMetni)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.yorumMetni)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.yorumTarihi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.yorumTarihi)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Sil" class="btn btn-danger" /> |
                @Html.ActionLink("Geri Dön", "ListYorum", null, new { @class = "btn btn-warning" })
            </div>
        }
    </div>
