@model araniyor.Models.ProfilGoruntuleme

@{
    ViewBag.Title = "DetailsProfilGoruntuleme";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

<div class="container pb-5">
    <div>
        <h4>Kayıt Detayı</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.goruntuleyen)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.goruntuleyen)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.goruntulenen)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.goruntulenen)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tarih)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tarih)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Düzenle", "EditProfilGoruntuleme", new { id = Model.ID }, new { @class = "btn btn-primary btn" })
        @Html.ActionLink("Geri Dön", "ListProfilGoruntuleme", null, new { @class = "btn btn-warning" })
    </p>
</div>