@model araniyor.Models.Users

@{
    ViewBag.Title = "DetailsUser";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

<div class="container pb-5">
    <div>
        <h4>Kullanıcı Detayı</h4>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.businessCategory.businessCategory1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.businessCategory.businessCategory1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.businessSubategory.businessSubategory1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.businessSubategory.businessSubategory1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.steward)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.steward)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.picture)
        </dt>
        @{
            var base64 = Convert.ToBase64String(Model.picture);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        }

       
        <dd>
            <img src="@imgSrc" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.district)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.district)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.votingNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.votingNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalScore)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numberOfComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberOfComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numberOfViews)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberOfViews)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.experience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.admin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admin)
        </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Düzenle", "EditUser", new { id = Model.userID }, new { @class = "btn btn-primary btn" }) 
        @Html.ActionLink("Geri Dön", "ListUser", null, new { @class = "btn btn-warning" })
    </p>
