@model IEnumerable<araniyor.Models.Yorumlar>

@{
    ViewBag.Title = "ListYorum";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

<h2>Yorumlar Listesi</h2>
<hr />
<p>
    @Html.ActionLink("Yorum Oluştur", "CreateYorum", null, new { @class = "btn btn-primary btn" })
</p>
<div class="panel panel-primary filterable" style="overflow-x: auto;">

    <table class="table table-bordered table-striped">
        <div class="panel-heading">
            <thead>
                <tr class="filters">
                    <th style="width:auto"><input type="text" class="form-control" placeholder="Yorum Yapan"></th>
                    <th style="width:auto"><input type="text" class="form-control" placeholder="Yorum Yapılan"></th>
                    <th style="width:auto"><input type="text" class="form-control" placeholder="Tarih"></th>
                    <th style="width:auto"></th>
                </tr>
            </thead>
        </div>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.yorumYapan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.yorumYapilan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.yorumMetni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.yorumTarihi)
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "EditYorum", new { id = item.ID }, new { @class = "btn btn-warning btn-sm" })
                    @Html.ActionLink("Detay", "DetailsYorum", new { id = item.ID }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Sil", "DeleteYorum", new { id = item.ID }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </table>
