@model IEnumerable<araniyor.Models.messages>

@{
    ViewBag.Title = "ListMesaj";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

<h2>Mesajlar Listesi</h2>
<hr />
<p>
    @Html.ActionLink("Mesaj Oluştur", "CreateMesaj", null, new { @class = "btn btn-primary btn" })
</p>
<div class="panel panel-primary filterable" style="overflow-x: auto;">

    <table class="table table-bordered table-striped">
        <div class="panel-heading">
            <thead>
                <tr class="filters">
                    <th style="width:auto"><input type="text" class="form-control" placeholder="Gönderen"></th>
                    <th style="width:auto"><input type="text" class="form-control" placeholder="Alan"></th>
                    <th style="width:auto"><input type="text" class="form-control" placeholder="Tarih"></th>
                    <th style="width:auto"><input type="text" class="form-control" placeholder="Sohbet ID"></th>
                    <th style="width:auto"></th>
                </tr>
            </thead>
        </div>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.senderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.receiverID)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.message)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.conversationID)
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "EditMesaj", new { id = item.messageID }, new { @class = "btn btn-warning btn-sm" })
                    @Html.ActionLink("Detay", "DetailsMesaj", new { id = item.messageID }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Sil", "DeleteMesaj", new { id = item.messageID }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }

    </table>
</div>