@model araniyor.Models.Puanlar

@{
    ViewBag.Title = "DeletePuan";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

<div class="container pb-5">
    <h3 style="color:red">Puanlamayı silmek istediğine emin misin?</h3>
    <hr />
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.puanVeren)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.puanVeren)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.puanVerilen)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.puanVerilen)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tarih)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tarih)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Puan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Puan)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Sil" class="btn btn-danger" /> 
                @Html.ActionLink("Geri Dön", "ListPuan", null, new { @class = "btn btn-warning" })
            </div>
        }
    </div>
</div>