@model araniyor.Models.Yorumlar

@{
    ViewBag.Title = "EditYorum";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

<div class="container pb-5">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Düzenle</h4>
            <hr />
            @if (TempData["mesaj"] != null)
            {
                <div class="alert alert-warning">
                    <span class="glyphicon glyphicon-search"></span>
                    @TempData["mesaj"].ToString()
                </div>
            }
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <div class="form-group">
                @Html.LabelFor(model => model.yorumYapan, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.yorumYapan, (IEnumerable<SelectListItem>)ViewBag.Users, new { @class = "form-control", disabled = "disabled" })
                    @Html.HiddenFor(x => x.yorumYapan)
                    @Html.ValidationMessageFor(model => model.yorumYapan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.yorumYapilan, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.yorumYapilan, (IEnumerable<SelectListItem>)ViewBag.Users, new { @class = "form-control", disabled = "disabled" })
                    @Html.HiddenFor(x => x.yorumYapilan)
                    @Html.ValidationMessageFor(model => model.yorumYapilan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.yorumMetni, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.yorumMetni, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.yorumMetni, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.yorumTarihi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.yorumTarihi, new { htmlAttributes = new { @class = "datepicker" } })
                    @Html.ValidationMessageFor(model => model.yorumTarihi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Kaydet" class="btn btn-success" />
                    @Html.ActionLink("Geri Dön", "ListYorum", null, new { @class = "btn btn-warning" })
                </div>
            </div>
        </div>
    }


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
