
@{
    ViewBag.Title = "ListUser";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<style>
    .card-title a {
        color: rgba(44, 62, 80, 1.0);
    }

        .card-title a:hover {
            color: rgba(52, 73, 94,1.0);
        }

    .search-row-wrapper {
        background-size: contain;
        background-repeat: no-repeat;
        height: 250px;
        padding: 50px 0;
        transition: all 400ms cubic-bezier(0.25,0.1,0.25,1) 0s;
        -webkit-transition: all 400ms cubic-bezier(0.25,0.1,0.25,1) 0s;
        width: 100%;
        background-position: center;
    }
</style>

<div class="container mt-5 mb-5">

    <div class="row ">

        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item active">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>

        <div class="col-md-9">

            <div class="row">
                @if (ViewBag.userList.Count>0)
                {
                    foreach (var user in ViewBag.userList)
                    {
                        var base64 = Convert.ToBase64String(user.picture);
                        var resim = String.Format("data:image/gif;base64,{0}", base64);

                        <div class="col-md-4">
                            <div class="card">
                                <div class="search-row-wrapper" style="background-image:url(@resim);">
                                    @*<img class="img-fluid rounded" src="@imgSrc" alt="@user.name">*@
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="/Home/KullaniciDetayi/@user.userID"> @user.name @user.surname</a>
                                    </h4>
                                    <p class="card-text">
                                        @user.description
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">
                                        @user.score
                                    </small>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <span style="font-size:25px; margin:auto auto auto auto; text-align:center; color:rgba(44, 62, 80, 1.0);">Üzgünüz bu kategoride hizmet veren bulunmamakta...</span>
                }
            </div>

        </div>
    </div>
</div>